<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
    </configSections>
    <common>
        <logging/>
    </common>
    <spring>
        <context>
            <resource uri="config://spring/objects" />
        </context>
        <objects xmlns="http://www.springframework.net">
            <object id="EQUITY_SWAP_EQUITY_RESET_VIEWMODEL" singleton="false" type="ConsoleApplication1.A, ConsoleApplication1">
                <constructor-arg name="name" value="David" />
                <constructor-arg name="age"  value="10" />
                <constructor-arg name="gridType" value="modern" />
            </object>
            <object id="EQUITY_SWAP_INTEREST_RATE_RESET_VIEWMODEL" singleton="false" type="ConsoleApplication1.B, ConsoleApplication1">
                <constructor-arg name="name" value="Suresh" />
                <constructor-arg name="age" value="12" />
                <constructor-arg name="gridType" value="old fashioned" />
            </object>
        </objects>
    </spring>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>